{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(28px + .5vw);
  }
</style>
<div class="solo-text">
  <p>
    10 Reasons not to use ChatGPT and alternatives:
  </p>
  <ol>
    <li>Lots of fake news</li>
    <li>Bad Bot</li>
    <li>Low quality</li>
    <li>Writing good prompts takes longer than doing sh*t yourself</li>
    <li>You stay dumb</li>
    <li>Not smart</li>
    <li>Sucks</li>
    <li>Stupid company</li>
    <li>Not communistic</li>
    <li>Just don't use it</li>
  </ol>
  <br>
  <p>Alternatives to artificial intelligence:</p>
  <ol>
    <li>Ask someone with actual intelligence</li>
  </ol>
</div>
<br><br><br><br><br><br><br><br>
<span id="doNotAddHeight"></span>

{% endblock content %}
