{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(22px + .5vw);
  }
</style>
<div class="solo-text">
  <p>
    You might have noticed that most Discord Guilds have rules, many of them forbid being a jerk. If this sounds really unfair to you, you are not alone.
    In fact, we did count a total of 7 people (out of 100) sharing your opinion.
    <br><br><br>
    All of them are banned from the League of Legends LFG Server.
  </p>
</div>

{% endblock content %}
