{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(28px + .5vw);
  }
</style>
<div class="solo-text">
  <p>
    You'll probably want to use Onlyfans only for viewing fun pics as soon as October starts. However, those may be quite expensive. Here's how you can
    earn lots of money for free:
  </p>
  <br>
  <ol>
    <li><a href="{{ url_for('premium') }}" class="theme">Buy PaulHub premium</a></li>
    <li>Get a job</li>
  </ol>
</div>

{% endblock content %}
