/*
Reset script
UNUSED - MAKES THINGS LOOK WEIRD
Probably I'm just too dumb to use it correctly
Have a nice day!
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}