Paul, you don't have a grandma. You've been living in the Clash of Clans laboratory level 3 until you were
8/6<sup>-1*0,069</sup> years old. All your memories are fake. It's the goblin's fault. In reality, your grandma
has been adopted by your parents, who you adopted. Your nonexistent grandma's only use is to bake my biscuits
(for the germanic edition of the biscuit-game).
<br><br><br>
Did I mention already how cookie-addicted I am?
<br><br><br>
Have you ever seen an NSFW website? Very unchristian. Did you know, that the christian god had a child with a married virgin? Very insist.
Do you know what isn't insist? The flying Spaghettimonster. Very noodly. Do you know what's not noodly? Every other religion. Very unpleasant.
So better become pastafarian (or just directly pirate) and eat noodles, save climate and there's also a beervolcano + stripperfactory waiting
for you to drink hydrocyanic acid (or die). Very pleasant.
<br><br>
<i>#MakePiratesGreatAgain.</i>
<br><br><br><br>
Let's get back to the topic. There's a very family friendly website called <a href="http://elias.gq">elias.gq</a>*. It's very funny!
<br><br><br><br><br>
I want to tell you a story. Little Fred is a nice human from North Macedonia. One day he came to a river and saw a pirate. However, he was only
3 years old (the pirate), so Fred didn't touch him. Fred is a good boy. Then Fred didn't touch him. Fred is a good boy. Then Fred came to a
China restaurant. However, he didn't know that he is in America, the most <s>capi</s> free country in the world. Unfortunately, he got
kidnapped by Kennedy (the one flying the planes into the towers) and brought to Somalia. There, the 7-year-old got kidnapped and finally
traumatized by something average: A pirate with an inflatable boat. So he swam to Andorra and studied FSMism. He noticed that true
pirates are very nice and give children to candy. Also they drink beer, not whiskey. Finally, Fred decided to become a pirate. He looked
for a crew - a suicidal starcook, a schizophrenic merchant, two homeless people, a sick doctor, a retarded violinist, three humans and
187,825 cockroaches - and built a raft. As the violinist almost drowned, they sold him and bought a real ship.
<br><br><br>
After 2,47 hours they noticed they didn't have any beer (nor gold). So they sold their boat and stole it back (the homeless had experience).
Since they got somewhat scammed, the gold wasn't enough for a single jug.
<br><br>
The crew was just about to give up as the flying Spaghettimonster
showed itself to the merchant. IT touched all of them wit ITS noodly appendages and transformed water into beer.
<br><br>
<a href="https://www.spaghettimonster.org">www.spaghettimonster.org</a>
<br><br><br><br>
* elias.gq might be taken offline in the near future.
Update: elias.gq now temporarily resides at https://elias-ebz3.onrender.com/.
