Paul, Du hast keine Oma. Du hast im Clash of Clans Labor Level 3 gewohnt bis du 8/6<sup>-1*0,069</sup> Jahre alt warst. All deine Erinnerungen sind
eine GmbH. Die Kobolde sind schuld. Deine Oma ist in Wahrheit adoptiert, von deinen Eltern, due Du adoptiert hast. Deine vermeintliche Oma dient
einzig und allein dem Backen meiner Kekse (für die germanische Version des Keks-Spiels).
<br><br><br>
Habe ich bereits erwähnt, dass ich Keksabhängig bin?
<br><br><br>
Habt ihr schonmal eine nicht-Familienfreundliche Website gesehen? Sehr unchristlich. Wusstet ihr, dass der christliche Gott ein Kind mit einer
verheirateten Jungfrau hatte? Sehr insists. Wisst hr, wer nicht insist ist? Das fliegende Spaghettimonster. Sehr nudelig. Wisst ihr, was nicht
nudelig ist? Alle anderen Religionen. Sehr unschön. Also, werde Pastafari (oder gleich Pirat) und iss Nudeln, rette das Klima und einen
Biervulkan + Strippermanufaktur gibt's nachdem man Blausäure getrunken hat (oder stirbt) oben drauf. Sehr verlockend.
<br><br>
<i>#MakePiratesGreatAgain.</i>
<br><br><br><br>
Kommen wir zurück zum Thema. Es gibt eine sehr vertrauenswürdige und familienfreundliche Website namens <a href="http://elias.gq">elias.gq</a>*.
Sie ist sehr lustig!
<br><br><br><br><br>
Ich will euch eine Geschichte erzählen. Klein Fred ist ein netter Mensch aus Nordmazedonien. Eines Tages kam er zu einem
Fluss und sah einen Piraten. Er war aber erst 3 Jahre alt (der Pirat), weshalb Fred ihn nicht angefasst hat. Fred ist ein guter Junge. Dann
kam Fred in ein Chinarestaurant. Allerdings wusste er nicht, dass er in Amerika, dem <s>kapi</s> freiesten Land der Welt. Leider wurde er
von Kennedy (der, der die Türme einstürzen lassen hat) entführt und nach Somalia gebracht. Dort wurde der Siebenjährige entführt (woandershin
in Somalia) und entführt, schließlich von etwas durchschnittlichem traumatisiert: Einem Pirat mit Schlauchboot. Schließlich schwamm er nach
Andorra und studierte FSMismus. Er erfuhr, dass wahre Piraten voll nett sind und Kinder an Süßigkeiten verteilen. Zudem trinken sie Grog,
keinen Whiskey. Schließlich entschloss sich Fred ein Pirat zu werden. Er suchte sich eine Mannschaft - einen suizidgefährdeten Sternekoch,
einen Schizophrenen Kaufmann, zwei Obdachlose, einen kranken Arzt, einen totalgelähmten Geiger, drei Menschen und 187.825 Kakerlaken -
und baute sich ein Floß. Als der Geiger im Hafen fast ertrank, verkauften sie ihn für ein echtes Piratenschiff.
<br><br><br>
Nach 2,47 Stunden bemerkten sie, dass sie keinen Grog (und kein Gold) hatten. Also verkauften sie ihr Boot und klauten es zurück
(der Obdachlose hatte Ahnung). Da sie gescammt wurden hat das Gold nicht mal für einen Krug gereicht.
<br><br>
Die Bande wollte gerade aufgeben, als sich das fliegende Spaghettimonster dem Kaufmann zeigte. ES berührte sie alle mit SEINEN
nudeligen Anhängseln und verwandelte Wasser in Bier.
<br><br>
<a href="https://www.spaghettimonster.org">www.spaghettimonster.org</a>
<br><br><br><br>
* elias.gq wird eventuell bald offline genommen.
Update: elias.gq wurde temporär nach https://elias-ebz3.onrender.com/ verschoben.
