{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(28px + .5vw);
  }
</style>
<div class="solo-text">
  <p>
    Jenna is a fox who likes to puzzle. However, she has brain cancer. On her way to the world puzzle championships, she gets involved
    in a car accident. On her way to the hospital, she finds some funny looking pills. In the hospital, the doctors diagnose, that the
    tumor makes her smarter. Unluckily, the world championships are about to start. Luckily, the organizer stepped on a LEGO™ brick,
    which is why they got delayed. The next day, Jenna took the funny looking pills and drove to the puzzle championships. She easily
    won before she died due to brain cancer.
    <br><br>
    I really like the book, because the protagonist has brain cancer and dies. Also because of the pills. I'd definitely recommend
    reading it to everyone. Bye bye.
  </p>
</div>

{% endblock content %}
