{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(28px + .5vw);
  }
  div.quote-slider-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
  }
  div.quote-name-original-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  div.globe-original-container {
    display: inline-flex;
    justify-content: space-around;
  }
  .quote-box {
    border: 2px solid rgb(20, 20, 20);
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
  }
  .quote-box-name {
    font-size: 18px;
    margin-left: 5px;
  }
  .quote-box-text {
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .quote-show-original {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
  }
</style>
<script>
    "use strict";
    function originalQuote(id) {
      let container = document.getElementById(`container${id}`);
      let span = document.getElementById(`quote${id}`);
      let div = document.getElementById(`div${id}`);
      let show = document.getElementById(`show${id}`);
      let name = document.getElementById(`name${id}`);
      let m;
      let n;
      switch (id) {
        case 0:
        m = "&raquo;Damit wir lokal auf einem Server spielen können&laquo;";
        n = "Sebastian, 15 January 2024";
        break;
        case 1:
        m = "Me: &raquo;Nur wenn du dein Betriebssystem nicht modifiziert hast&laquo;<br>Aaron: &raquo;Hä? Selbst das IPhone 4 kann das&laquo;";
        n = "Aaron, 16 January 2024";
        break;
        case 2:
        m = "&raquo;Jeder hat Microsoft Office&laquo;";
        n = "Elias, 9 January 2024";
        break;
        case 3:
        m = "&raquo;Tipp das doch einfach mal bei Google ein&laquo;";
        n = "Carmen, 16 January 2024";
        break;
        case 4:
        m = "&raquo;Wie öffne ich diese ZIP Datei?&laquo;";
        n = "Samuel, 13 January 2024";
        break;
        case 5:
        m = "&raquo;Was juckt mich Datenschutz?&laquo;";
        n = "Elias somewhen in December 2023";
        break;
        case 6:
        m = "&raquo;Imagine man benutzt DuckDuckGo&laquo;";
        n = "Daniel somewhen in November 2023";
        break;
        case 7:
        m = "(Sebastian tries to paraphrase the word 'Browser')<br>&raquo;Google ist ein...?&laquo;";
        n = "Sebastian, 31 December 2023";
        break;
        case 8:
        m = "&raquo;Das stand bei Google&laquo;";
        n = "Anton, 14 February 2024";
        break;
        case 9:
        m = "&raquo;Was ist ein Kernel?&laquo;";
        n = "Sebastian, 29 April 2024";
        break;
        case 10:
        m = "&raquo;Da steht keine Quelle, das ist bei Google&laquo;";
        n = "Sebastian, 2023";
        break;
        case 11:
        m = "&raquo;Jesus ist ein Nuttensohn&laquo;";
        n = "Paul, April 2024";
        break;
      }
      if (id % 2 != 0) {
        container.style.borderColor = "rgb(20, 20, 20)";
        container.style.backgroundColor = "rgb(40, 40, 40)";
      }
      span.innerHTML = m;
      show.innerHTML = "Show translated";
      name.innerHTML = n;
      div.setAttribute("onclick", `translatedQuote(${id})`);
    }
    function translatedQuote(id) {
      let span = document.getElementById(`quote${id}`);
      let div = document.getElementById(`div${id}`);
      let show = document.getElementById(`show${id}`);
      let m;
      switch (id) {
        case 0:
        m = "&raquo;So we can play on one server locally&laquo;";
        break;
        case 1:
        m = "Me: &raquo;Only if you didn't modify your OS&laquo;<br>Aaron: &raquo;Huh? Even the IPhone 4 can do that&laquo;";
        break;
        case 2:
        m = "&raquo;Everyone has Microsoft Office&laquo;";
        break;
        case 3:
        m = "&raquo;Just type that into Google&laquo;";
        break;
        case 4:
        m = "&raquo;How do I open this ZIP file?&laquo;";
        break;
        case 5:
        m = "&raquo;Why would I care about privacy?&laquo;";
        break;
        case 6:
        m = "&raquo;Imagine using DuckDuckGo&laquo;";
        break;
        case 7:
        m = "(Sebastian tries to paraphrase the word 'Browser')<br>&raquo;Google is a...?&laquo;";
        break;
        case 8:
        m = "&raquo;That was written on Google&laquo;";
        break;
        case 9:
        m = "&raquo;What's a kernel?&laquo;";
        break;
        case 10:
        m = "&raquo;There is no source, this is at Google&laquo;";
        break;
        case 11:
        m = "&raquo;Jesus is the son of a mother who is selling her body&laquo;";
        break;
      }
      span.innerHTML = m
      show.innerHTML = "Show original"
      div.setAttribute("onclick", `originalQuote(${id})`)
    }
</script>

<p class="note">
  <strong>Note: </strong>This list is getting updated regularly. Last update: 28 May 2024
</p>
<br>
<p class="note">
  <strong>Note: </strong>There may be multiple people with the same name
</p>
<br><br><br>
{% for i in range(0, 12) %}
<div class="quote-slider-container">
  <div id="container{{ i }}" class="quote-box">
    <p id="quote{{ i }}" class="quote-box-text"></p>
    <div class="quote-name-original-container">
      <span id="name{{ i }}" class="quote-box-name"></span>
      <div id="div{{ i }}" class="globe-original-container">
        <img src="/static/images/globe-icon.svg" width="22px" height="22px">
        <span id="show{{ i }}" class="quote-show-original"></span>
      </div>
    </div>
  </div>
</div><br><br><br><br>
<script>originalQuote({{ i }}); translatedQuote({{ i }});</script>
{% endfor %}

{% endblock content %}
