{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(28px + .5vw);
  }
  .popup-div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup-div .popuptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  .popup-div .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup-div .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
</style>
<script>
    function togglePopup(id) {
        var popup = document.getElementById(id);
        popup.classList.toggle("show");
    }
</script>

<p class="note">
  <strong>Note: </strong>Some of these things have been translated. Hover to reveal the original quote.
</p>
<br>
<p class="note">
  <strong>Note: </strong>This list is getting updated regularly. Last update: 27 May 2024
</p>
<br>
<p class="note">
  <strong>Note: </strong>There may be multiple people with the same name
</p>
<br>
<div class="solo-text">
  <p>
    <div class="popup-div" onmouseenter="togglePopup('popup0')" onmouseleave="togglePopup('popup0')">
        • &nbsp;&nbsp;<q>So we can play on one server locally</q>
        <span class="popuptext" id="popup0">Damit wir lokal auf einem Server spielen können</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Sebastian, 15 January 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup1')" onmouseleave="togglePopup('popup1')">
        • &nbsp;&nbsp;Me: <q>Only if you didn't modify your OS</q><br>>&nbsp;&nbsp;Aaron: <q>Huh? Even the IPhone 4 can do that</q>
        <span class="popuptext" id="popup1">Hä? Selbst das IPhone 4 kann das</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Aaron, 16 January 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup2')" onmouseleave="togglePopup('popup2')">
        • &nbsp;&nbsp;<q>Everyone has Microsoft Office</q>
        <span class="popuptext" id="popup2">Jeder hat Microsoft Office</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Elias, 9 January 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup3')" onmouseleave="togglePopup('popup3')">
        • &nbsp;&nbsp;<q>Just type that into Google</q>
        <span class="popuptext" id="popup3">Tipp das doch einfach mal bei Google ein</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Carmen, 16 January 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup4')" onmouseleave="togglePopup('popup4')">
        • &nbsp;&nbsp;<q>How do I open this ZIP file?</q>
        <span class="popuptext" id="popup4">Wie öffne ich diese ZIP Datei?</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Samuel, 13 January 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup5')" onmouseleave="togglePopup('popup5')">
        • &nbsp;&nbsp;<q>Why would I care about privacy?</q>
        <span class="popuptext" id="popup5">Was juckt mich Datenschutz?</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Elias somewhen in December 2023
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup6')" onmouseleave="togglePopup('popup6')">
        • &nbsp;&nbsp;<q>Imagine using DuckDuckGo</q>
        <span class="popuptext" id="popup6">Imagine man benutzt DuckDuckGo</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Daniel somewhen in November 2023
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup7')" onmouseleave="togglePopup('popup7')">
        • &nbsp;&nbsp;(Sebastian tries to paraphrase the word &laquo;Browser&raquo;) &nbsp;&nbsp;&nbsp;<q>Google is a...?</q>
        <span class="popuptext" id="popup7">Google ist ein...?</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Sebastian, 31 December 2023
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup8')" onmouseleave="togglePopup('popup8')">
        • &nbsp;&nbsp;<q>It was written on Google</q>
        <span class="popuptext" id="popup8">Das stand bei Google</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Anton, 14 February 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup9')" onmouseleave="togglePopup('popup9')">
        • &nbsp;&nbsp;<q>What is a kernel?</q>
        <span class="popuptext" id="popup9">Was ist ein Kernel?</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Sebastian, 29 April 2024
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup10')" onmouseleave="togglePopup('popup10')">
        • &nbsp;&nbsp;<q>There is no source, this is at Google</q>
        <span class="popuptext" id="popup10">Da steht keine Quelle, das ist bei Google</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Sebastian, 2023
    </div>
    <br><br><br>
    <div class="popup-div" onmouseenter="togglePopup('popup11')" onmouseleave="togglePopup('popup11')">
        • &nbsp;&nbsp;<q>Jesus is the son of a mother who is selling her body</q>
        <span class="popuptext" id="popup11">Jesus ist ein Nuttensohn</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;Paul, April 2024
    </div>
  </p>
</div>

{% endblock content %}
