{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(26px + .5vw);
  }
</style>
<div class="solo-text">
    <p>
        Did you ever want to be a furry? Don't worry, that's normal. And there is a wide range of thing you can do to fulfill your dreams!
    </p>
    <ul>
        <li>• Use Linux</li>
        <li>• Use Firefox</li>
        <li>• Use DuckDuckGo</li>
        <li>• Use Thunderbird</li>
        <li>• Use Vantage in Apex Legends</li>
        <li>• Learn Polish on Duolingo</li>
        <li>• Play Stardew Valley</li>
    </ul>
    <p>
        Now, what do all these things have in common? I am doing/using all of them!
        <br><br><br>
        PS: There's no privacy without Furrys.
    </p>
    <img src="/static/images/privacy_furry.png" style="border-radius: 10px;">
    <br><br><br><br><br><br><br>
</div>

{% endblock content %}
