{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(24px + .5vw);
  }
  ul {
    list-style-type: circle;
  }
</style>
<p class="note">
  <strong>Note: </strong>This is solely the authors opinion. It does not reflect the view of the PaulHub team or any majority.
</p>
<br>
<div class="solo-text">
  <p class="not-selectable" style="text-align: justify; line-height: 1.3;">
    Do you know these moments when you want to do something but absolutely don't want to do it? I don't, because I never want to do something.
    That's actually a cite by the haunted spectre. No it's not, I'm lying. The haunted spectre can't talk. It's a haunted spectre.
    <br><br><br>
    At one point in life, the haunted spectre accidentally found a temporary friend. Its name was Joey. It's a homeless spectre living inside a bridge.
    Why inside? Hard to tell. Joey told the haunted spectre a <a href="{{ url_for('the_conspiracy_of_free_food') }}">conspiracy</a> and they became friends.
    Well, Joey did not. What that means? The haunted spectre didn't believe into free food and failed the February due to its communistic world view.
    Very unfair. At least nobody got hurt during the process this time.
    <br><br><br>
    Many people reject communism because they think there is no private property. That's true, however, most of them confuse it with personal property.
    The difference is simple: Private property is owned by a private individual, or a group of those, and includes everything related to capital,
    land and real property. Personal property includes most other things, like rags, TicTacs and sec toys. In true communism, private property becomes
    public, while personal property stays untouched.
    <br><br><br>
    There were times when the haunted spectre was partly happy. It was around 1920. Remember when I said, workers in <sup>1</sup>/<sub>6</sub> of the
    world proved to be fine without capitalists? That's true. The only reason they've been doomed was the lack of true communism.
    WEE DON'T NEED DEE GOVERNMENT! Anyways, the haunted spectre was happy about an early stage socialism in a <s>small</s> average part of the world.
    <br><br><br>
    There were times.
    <br><br><br>
    Uncle shadow used to have a sister. However, she was a bitch. She ate purple souls and such. Then she swallowed and died. He also used to have a daddy.
    He was a gymdaddy and dyed while stimming. Then he died while dyeing. Lastly he used to have a mommy. She was in everyone's pants. And died while praying.
    Now uncle shadow is dead because of skull issue.
    <br><br><br>
    Imagine if you didn't have to snoop on your glue anymore. Here's a step-by-step guide:
    <br>
    <ol>
      <li>Put away your glue</li>
      <li>Go to an artistic shop</li>
      <li>
        Buy acrylic paints
        <ul>
          <li>Select them</li>
          <li>Pay for them (optional)</li>
        </ul>
      </li>
      <li>Go home/to your bridge</li>
      <li>Go to the kitchen/river</li>
      <li>Mix the acrylic paints with water</li>
      <li>
        Accidentally put them on your clothes/rags
        <ul>
          <li>Use your hands for that</li>
        </ul>
      </li>
      <li>I'm too high for this shit.</li>
    </ol>
    <br><br><br>
    Imagine if you didn't have to snoop on your glue anymore. It would be awesome, wouldn't it?
    <br><br><br><br><br>
  </p>
  <p style="font-size: 22px;">To be continued...</p>
  <br><br><br><br><br>
  {% include "pages/_manifest_links.html" %}
</div>

{% endblock content %}
