{% extends "base.html" %}

{% block content %}

<style>
  h1.nav-header {
    font-size: calc(24px + .5vw);
  }
</style>
<p class="note">
  <strong>Note: </strong>This is solely the authors opinion. It does not reflect the view of the PaulHub team or any majority.
</p>
<br>
<div class="solo-text">
  <p class="not-selectable" style="text-align: justify; line-height: 1.3;">
    This is under construction.
    <br><br><br><br><br>
  </p>
  <p style="font-size: 22px;">To be continued...</p>
  <br><br><br><br><br>
  {% include "pages/_manifest_links.html" %}
</div>

{% endblock content %}
