<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="paulhub communism cool">
  <meta name="description" content="PaulHub - A site with many cool guides and articles about lots of weird stuff. Check it out!">
  <meta property="og:title" content="PaulHub">
  <meta property="og:description" content="A site with many cool guides and articles about lots of weird stuff. Check it out!">
  <meta property="og:url" content="http://paulhub.us.to">
  <link href="/static/css/dark-theme.css" rel="stylesheet" id="dark-theme-link">
  <link href="/static/css/style.css" rel="stylesheet" id="style-link">
  {% for stylesheet in extra_stylesheets %}
    <link href="{{ stylesheet }}" rel="stylesheet">
  {% endfor %}
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <title>PaulHub - {% block title %}{{ title }}{% endblock title %}</title>
  <style>
    html * {
      font-family: Verdana, Helvetica, Arial;
    }
  </style>
  <script src="/static/js/funcs.js"></script>
  <script>
    let hasPremium = getCookie("hasPremium") ? true : false
  </script>
</head>

<body id="body">
  <style>
    div.content {
      width: 960px;
      margin: auto;
    }
  </style>
  <div class="content">
    <div class="wrapper">
    <header>
      {% include "_navigation.html" %}
    </header>

    {% if not stfu %}
    <div>
      {% include "premium/_premium_bar.html" %}
      {% include "premium/_premium_bar_replace.html" %}
    </div>
    <script>
      if (!getCookie("stfu")) {
        if (!hasPremium) {
          setTimeout(showPremiumBar, 10000)
        } else {
          setTimeout(showPremiumBarReplace, 10000)
        }
      }
    </script>
    <div>
      {% include "premium/_premium_popup.html" %}
      {% include "premium/_premium_popup_replace.html" %}
    </div>
    <script>
      if (!getCookie("stfu")) {
        if (!hasPremium) {
          setTimeout(showPremiumPopup, 1000)
        } else {
          setTimeout(showPremiumPopupReplace, 1000)
        }
      }
    </script>
    <div>
      {% include "premium/_rate_popup.html" %}
    </div>
    <script>
      if (!getCookie("stfu")) {
        setTimeout(showRateUsPopup, 60000)
      }
    </script>
    {% endif %}

    <br>
    {% block content %}
      <h1>To my defense, I don't have unlimited time. Well, I do, but I'm lazy. WORK IN PROGRESSSS!</h1>
    {% endblock content %}
    <br><br><br>
    <div class="push"></div>
    </div>
    <footer>
      {% include "_footer.html" %}
    </footer>
    <script>
      if (document.body.scrollHeight >= window.innerHeight) {
        if (!document.getElementById("doNotAddHeight")) {
          document.body.style["padding-bottom"] = "180px";
        }
      }
    </script>
    {% if not no_music %}
    <audio id="wantYouGonePlayer" autoplay>
      <source src="/static/music/wantyougone.mp3"/>
    </audio>
    {% endif %}
  </div>
</body>
</html>