<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="static/dark-theme.css" rel="stylesheet" id="dark-theme-link">
  <link href="static/style.css" rel="stylesheet" id="style-link">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <title>PaulHub - {% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>
  <style>
    div.content {
      width: 1000px;
      margin: auto;
    }
  </style>
  <div class="content">
    <header>
      {% include "_navigation.html" %}
    </header>
    <br>
    {% block content %}
      <h1>To my defense, I don't have unlimited time. Well, I do, but I'm lazy. WORK IN PROGRESSSS!</h1>
    {% endblock content %}
    <br><br><br>
    <footer>
      {% include "_footer.html" %}
    </footer>
  </div>
</body>
</html>