{% extends "base.html" %}

{% block content %}

<div> 
  <style>
    .flex-row-justified {
      display: flex;
      align-items: normal; /* Align Items Vertically */
      justify-content: space-evenly; /* Align Items Horizontally */
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      column-gap: 50px;
    }
    #limit-300 {
        max-width: 300px;
    }
    h2 {
      text-align: left;
      text-size-adjust: auto;
      font-size: calc(24px + .5vw);
    }
  </style>

  <br><br><br><br>

  <h2>Trending 📈</h2>
  <div class="container flex-row-justified">
    {% for image, text in month_data.trending %}
    <div style="font-size: 30px", id="limit-300">
      <a href="{{ url_for(text.func) if 'func' in text else text.open_in_new_tab }}" target="{{ '_blank' if 'open_in_new_tab' in text else '' }}">
        <img src="/static/{{ image.name }}" width="300" height="300" class="d-inline-block align-top" alt="{{ image.alt }}">
        {{ text.text }}
      </a>
    </div>
    {% endfor %}
  </div>

  <br><br><br><br>

  <h2>Latest ✨</h2>
  <div class="container flex-row-justified">
    {% for image, text in month_data.latest %}
    <div style="font-size: 30px", id="limit-300">
      <a href="{{ url_for(text.func) if 'func' in text else text.open_in_new_tab }}" target="{{ '_blank' if 'open_in_new_tab' in text else '' }}">
        <img src="/static/{{ image.name }}" width="300" height="300" class="d-inline-block align-top" alt="{{ image.alt }}">
        {{ text.text }}
      </a>
    </div>
    {% endfor %}
  </div>

  <br><br><br><br>

  <h2>Recommendations 🎖️</h2>
  <div class="container flex-row-justified">
    {% for image, text in month_data.recommendations %}
    <div style="font-size: 30px", id="limit-300">
      <a href="{{ url_for(text.func) if 'func' in text else text.open_in_new_tab }}" target="{{ '_blank' if 'open_in_new_tab' in text else '' }}">
        <img src="/static/{{ image.name }}" width="300" height="300" class="d-inline-block align-top" alt="{{ image.alt }}">
        {{ text.text }}
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock content %}
