body {
  color: rgb(240, 240, 240);
  background: rgb(36, 36, 36);
}
body a {
  color: #809fff;
}
header, footer {
  background-color: rgb(20, 20, 20);
}
table {
  border: 1px solid rgb(16, 16, 16);
}
div.premiumDiv {
  background-color: rgb(30, 30, 30);
}
a.theme:link {
  color: rgb(200, 200, 200);
  text-decoration: none;
}
a.theme:visited {
  color: rgb(200, 200, 200);
  text-decoration: none;
}
a.theme:hover {
  color: rgb(210, 210, 210);
  text-decoration: underline;
}
a.theme:active {
  color: rgb(190, 190, 190);
  text-decoration: underline;
}
a.buy-btn {
  color: rgb(200, 200, 200)
}
a.buy-btn:link {
  text-decoration: none;
}
a.buy-btn:visited {
  text-decoration: none;
}
a.buy-btn:hover {
  text-decoration: underline;
}
a.buy-btn:active {
  text-decoration: underline;
}
a.copy-link-btn {
  color: rgb(200, 200, 200)
}
a.copy-link-btn:link {
  text-decoration: none;
}
a.copy-link-btn:visited {
  text-decoration: none;
}
a.copy-link-btn:hover {
  text-decoration: underline;
}
a.copy-link-btn:active {
  text-decoration: underline;
}
div.premium-replace-div {
  background-color: rgb(30, 30, 30);
}
div.rate-us-div {
  background-color: rgb(30, 30, 30);
}